<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <noscript>You need javascript to run!</noscript>
        <h1>Login</h1>
        <input id="username" type="text" placeholder="Username">
        <input id="password" type="password" placeholder="Password">
        <button id="loginBtn">Login</button>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
                       function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
        $(document).ready(function(){
         if(getCookie('login') == "true")
         {
           window.location.href = "https://adminControl.leomessi0311.repl.co/AddDonations"
         }
        });
            $('#loginBtn').click(function(){
                $.post('https://ServerSustainathon.leomessi0311.repl.co/AdminLogin', {username:document.getElementById('username').value,
                password:document.getElementById('password').value,
                }, function(data, status){
                   document.cookie = "login=true";
                    document.cookie = "userid="+data;
                })
                .fail(function(response){
                  swal(response.responseText)
                })
            })
        </script>
    </body>
</html>